<link href="{{ asset('bundles/libbitlox/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />

<style>.center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}</style>
<title>{{ message }} ({{ code }}</title>
<body>
  <div class="hero-unit center">
    <h1>{{ code }}</h1>
    <br />
    <p><b>{{ message }}</b></p>
  </div>
</body>
